name: FirstWorkflows
on:
  pull_request:
    types:
    - closed
  workflow_dispatch:
  push:
    branches:
      - dev
      - feature
jobs:
    Checkout:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v3
            - name: install dependancies
              run: npm ci
            - name: all done
              run: echo "All done"